h1{
color:rgb(2,132,130);	
text-align: center;
}	

h2{
color: #ffd700;
text-align: center;
}

p{
text-align: center;
}

.board {
	height: 80%;
	width: 50%;
	display: inline-block;
}

.card {
	height: 200px;
	width: 150px;
	border: 2px black solid;
	background-image: url(http://i.imgur.com/hKVeUh9.jpg);
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 8%;
	padding-bottom: 10px
}

.name {
	color: #ff0000
	
}
nav{
	background-color: #808080;
}

a{
	background-color: #ffbf00;
	text-decoration: none;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

a:hover {
        background-color: #ee5f3c;
      }

 .clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

footer{
	text-align: center;
	background-color: #808080
}

img {
	height: 210px;
  width: 150px;
}

